<div class="w3-bar">

    {% if page_obj.has_previous %}
      <a class="w3-button" href="?page=1{{ search_params }}"><<</a>
      <a class="w3-button" href="?page={{ page_obj.previous_page_number }}{{ search_params }}"><</a>
    {% else %}
      <button class="w3-button" disabled=""><<</button>
      <button class="w3-button" disabled=""><</button>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% ifequal num page_obj.number %}
        <span class="w3-button w3-grey"><b>{{ num }}</b></span>
      {% else %}
        <a class="w3-button" href="?page={{ num }}{{ search_params }}"> {{ num }}</a>
      {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="w3-button" href="?page={{ page_obj.next_page_number }}{{ search_params }}">></a>
      <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}{{ search_params }}">>></a>
    {% else %}
      <button class="w3-button" disabled>></button>
      <button class="w3-button" disabled>>></button>
    {% endif %}

</div>
