{% extends 'receipt/common.html' %}

{% block title %}Company detail{% endblock %}

{% block body %}

  {{ company }} <a href="{% url 'company_update' company.pk%}" class="w3-button w3-black w3-round-large">Edit</a>
  <a href="{% url 'company_add_establishment' company.pk%}" class="w3-button w3-black w3-round-large">
    Add establishment
  </a>

    <table>
    <tr>
      <th>Name</th>
    </tr>

  {% for establishment in company.establishment_set.all %}
    <tr>
      <td><a href="{% url 'establishment_detail' establishment.pk %}">{{ establishment }}</a></td>
      <td><a href="{% url 'establishment_update' establishment.pk %}">Edit</a> </td>
    </tr>
  {% endfor %}

  </table>

  <table>
    <tr>
      <th>Total: </th><th>{{ company.get_total }}</th>
    </tr>
  </table>

{% endblock %}
