{% extends 'common.html' %}

{% block title %}Company list{% endblock %}

{% block body %}

<a href="{% url 'company_create'%}" class="w3-button w3-black w3-round-xlarge">
  Create new company
</a>

<form class="w3-container" method="get">
  <label>Search by company name
    <input class="w3-input w3-border" name="company_name" type="text">
  </label>
</form>

<table>
{% for object in object_list %}
  <tr>
    <td><a href="{% url 'company_detail' object.pk %}">{{ object }}</a></td>
    <td><a href="{% url 'company_update' object.pk %}">Edit</a></td>
  </tr>
{% endfor %}
</table>

{% include 'pagination.html' %}

{% endblock %}
