{% extends 'receipt/common.html' %}

{% block title %}Establishment list{% endblock %}

{% block body %}

<a href="{% url 'establishment_create' %}" class="w3-button w3-black w3-round-xlarge">
  Create new establishment
</a>

<form class="w3-container" method="get">
  {{ filter.form }}
  <button class="w3-button w3-black" type="submit">Search</button>
</form>

<table>
{% for object in object_list %}
  <tr>
    <td><a href="{% url 'establishment_detail' object.pk %}">{{ object }}</a></td>
    <td><a href="{% url 'establishment_update' object.pk %}">Edit</a></td>
  </tr>
{% endfor %}
</table>

{% include 'receipt/pagination.html' %}

{% endblock %}
