{% extends 'common.html' %}

{% block title %}Receipt list{% endblock %}

{% block body %}
<a href="{% url 'receipt_create' %}">New receipt</a>

<table>

  <tr>
    <th>Name</th>
    <th>Receipt</th>
    <th>Establishment</th>
    <th>Company</th>
  </tr>

{% for object in object_list %}
  <tr>
    <td>{{ object }}</td>
    <td><a href="{% url 'receipt_update' object.pk %}">Edit</a></td>
    <td><a href="{% url 'establishment_detail' object.establishment_id %}">{{ object.establishment }}</a></td>

    <td>{% if object.establishment.company_id %}
      <a href="{% url 'company_detail' object.establishment.company_id %}">{{ object.establishment.company }}</a>
      {% endif %}
    </td>

  </tr>
{% endfor %}
</table>
{% endblock %}
