{% extends 'common.html' %}

{% block title %}Receipt list{% endblock %}

{% block body %}
<a href="{% url 'receipt_create' %}" class="w3-button w3-black w3-round-xlarge">
  New receipt
</a>

<table>
  <tr>
    <th>Total: </th><th>{{ object_list.total }}</th>
  </tr>
</table>


<table>

  <tr>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
    <th>Establishment</th>
    <th>Company</th>
  </tr>

{% for object in object_list %}
  <tr>
    <td>{{ object.amount }}</td>
    <td>{{ object.date|date:'d/m/Y H-i' }}</td>
    <td><a href="{% url 'receipt_update' object.pk %}">Edit</a></td>
    <td><a href="{% url 'establishment_detail' object.establishment_id %}">{{ object.establishment }}</a></td>
    <td><a href="{% url 'company_detail' object.establishment.company_id %}">{{ object.establishment.company }}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
