{% extends 'common.html' %}

{% block title %}Tag detail{% endblock %}

{% block body %}

  {{ tag }} <a href="{% url 'tag_update' tag.pk%}" class="w3-button w3-black w3-round-large">Edit</a>

  <table>
    <tr>
      <th>Amount</th>
      <th>Date</th>
    </tr>

  {% for receipt in tag.receipt_set.all %}
    <tr>
      <td>{{ receipt.amount }}</td>
      <td>{{ receipt.date }}</td>
      <td><a href="{% url 'receipt_update' receipt.pk %}">Edit</a> </td>
    </tr>
  {% endfor %}

  </table>

{% endblock %}}
